<a href="https://colab.research.google.com/github/moizahmed813/IBM-Tools-for-Data-Science/blob/main/Final_Peer_Graded_Assignment/PeerGradedAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Peer-Graded Assignment:**

I have successfully completed all lectures, quizzes and assignments for the course of "Tools for Data Science". This assignment is to create a Jupyter Notebook with combo of code cells and markdown.

**There are total 25 points for this final assignment. I hope that i will ace based on following exercises.**

# **Exercise 1:** Create a Jupyter Notebook

**Name:** Peer_Graded Assignment

**Exercise 2:** Create a markdown cell with title of the notebook

# **Data Science Tools and Ecosystem**

**Exercise 3**: Create a markdown cell for an introduction

In this Jupyter Notebook we are observing Data Science Tools and Ecosystem in detail:

**Objectives:**


1.   Listing popular languages used in Data Science.
2.   List commonly used libraries in Data Science.
3.   Comments on Data Science tools.

**Exercise 4:** Create markdown cell to list Data Science languages:



1.   Python
2.   R
3. SQL
4. Java
5. Julia
6. Scalia
7. C/C++
8. JavaScript

**Exercise 5:** Create a markdown cell to list Data Science libraries:

1. TenserFlow
2. Numpy
3. SciPy
4. Pandas
5. MatplotLib
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. ELIS

**Exercise 6:** Create a markdown cell with a table of Data Science tools.



**Data Science Tools:**


*   SAS - Specifically designed for statistical operations
*   Apache Spark


*   BigML

**Exercise 7:** Create a markdown cell introducing arithematic expressions

**Examples:**

In [2]:
#Arithematic operations
code = compile("5+4", "<string>", "eval")
eval(code)

9

In [3]:
code1 = compile("(5+7)*2", "<string>", "eval")
eval(code1)

24

**Exercise 8:** Create a code cell to multiply and add numbers

In [4]:
(3*4)+5

17

**Exercise 9:** Create a code cellto convert minutes to hours.

In [5]:
days = 0
hours = 0
minutes = 0
time = 200
left_minutes = time % 1440
hours = left_minutes  / 60
print(str(days) + "days, " + str(hours) + "hours, " +str(minutes) + "minutes. ")

0days, 3.3333333333333335hours, 0minutes.

**Exercise 10:** Create markdown cell to list objectives

Inserted below the exercise 3.

**Exercise 11:** Create a markdown cell to indicate the Author's Name

# Author
**Moiz Ahmed**